@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    background: #060606;
    color: #f3f4f6;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

::-webkit-scrollbar {
  display: none;
}

